/**** calendar page style ******/

.Sb-calendar {
    padding: 50px 0;
    min-height: calc(100vh - 240px);
    display: flex;
    align-items: center;
    position: relative;
    .container {
        width: 100%;
        max-width: 900px;
    }
    .calendar-box {
        background: #fff;
        //box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        border-radius: 25px;
        .bg-dark-blue {
            background: $blue;
            border-radius: 25px 0 0 25px;
        }
        .right-box {
            padding: 10px 20px;
            @media(max-width: 767.98px) {
                box-shadow: 0px 48px 80px rgba(0, 0, 0, 0.07), 0px 31.1111px 46.8519px rgba(0, 0, 0, 0.0531481), 0px 18.4889px 25.4815px rgba(0, 0, 0, 0.0425185), 0px 9.6px 13px rgba(0, 0, 0, 0.035), 0px 3.91111px 6.51852px rgba(0, 0, 0, 0.0274815), 0px 0.888889px 3.14815px rgba(0, 0, 0, 0.0168519);
                border-radius: 10px;
            }
        }
        .avalible-day {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 20px;
            h2 {
                text-transform: uppercase;
                font-weight: 300;
                color: rgba(255, 255, 255, .69);
            }
            h3 {
                font-size: 90px;
                font-weight: 800;
            }
        }
        .calendar-head {
            background: linear-gradient(90deg, $light-blue 50.15%, $blue 201.39%);
            border-radius: 10px 10px 0px 0px;
            font-weight: 700;
            font-size: 18px;
            line-height: 23px;
            color: #fff;
            text-align: center;
            padding: 16px 0;
        }
        .calendar-table {
            color: #000000;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            //  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            .row {
                margin: 0;
                .col {
                    width: calc(100%/7)
                }
            }
            .calendar-header {
                background: #EBEBEB;
                .day-name {
                    padding: 15px 10px;
                    &.active-day {
                        background: $dark-blue;
                        color: #fff
                    }
                }
            }
            .calendar-body {
                .state {}
            }
            /**** timesheet page style ********/
            .carousel-body {
                background: #F2F2F2;
                padding: 36px 16px;
                min-height: 320px;
                span,
                label {
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 19px;
                    color: $dark-gray;
                }
                .form-labels {
                    padding: 0;
                    .col-form-label {
                        padding: 0;
                        text-align: left;
                    }
                    .col-auto.col-form-label {
                        width: 80px;
                    }
                    .form-control {
                        background: #FFFFFF;
                        border: 0.5px solid $dark-gray;
                        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
                    }
                }
                .btn-white {
                    background: #FFFFFF;
                    /* Mid Grey */
                    border: 1px solid #B6B6B6;
                    border-radius: 5px;
                    color: $light-blue;
                    width: 48px;
                    height: 48px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 21px;
                }
                .add-block {
                    label {
                        display: block;
                        margin-bottom: 13px;
                    }
                    .btn-warning {
                        font-weight: 800;
                        font-size: 12px;
                        line-height: 15px;
                        height: 42px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        @media(min-width: 768px) {
                            font-size: 16px;
                        }
                        i {
                            margin-right: 6px;
                            font-size: 20px;
                            vertical-align: middle;
                        }
                    }
                }
                /**** journy page *****/
                .journey-details {
                    .row {
                        border-bottom: 1px solid #9E9D9D;
                        padding: 20px 0;
                        align-items: center;
                        &:last-child {
                            border: 0;
                            padding-bottom: 0;
                        }
                    }
                    .map-icon {
                        display: inline-block;
                        margin-right: 10px;
                    }
                    .arrow {
                        margin-left: 11px;
                        margin-right: 15px;
                        color: #007EC2
                    }
                    .btn {
                        font-size: 20px;
                        border-radius: 13px;
                        &-primary {
                            background: $light-blue;
                            border-color: $light-blue;
                        }
                    }
                }
            }
            .form-footer {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 36px;
                span {
                    display: block;
                    width: 175px;
                    padding: 9px;
                    background: #E4F5FF;
                    border: 0.5px solid $dark-gray;
                    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
                    font-weight: 800;
                    font-size: 20px;
                    line-height: 25px;
                    color: $dark-blue;
                }
                .btn {
                    width: 136px;
                    height: 136px;
                    border-radius: 50%;
                    background: #fff;
                    border: 5px solid $dark-orange;
                    box-shadow: inset -5px 5px 0px rgba(64, 196, 255, 0.2);
                    font-weight: 900;
                    font-size: 15px;
                    line-height: 19px;
                    color: $dark-orange;
                    i {
                        display: block;
                        font-size: 30px;
                        margin-bottom: 5px;
                        text-shadow: -5px 5px 0px rgba(64, 196, 255, 0.2);
                    }
                }
            }
        }
        .carousel {
            .carousel-control-next,
            .carousel-control-prev {
                height: 55px;
                top: 20px;
                font-size: 24px;
                color: #fff;
                opacity: 1;
            }
            .carousel-item {
                padding: 20px 10px
            }
        }
    }
    .avalible-box {
        background: linear-gradient(360deg, #FFFFFF -168.75%, #F2F2F2 192.71%);
        background: #fff;
        border-radius: 10px;
        margin-top: 20px;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 400;
        font-size: 15px;
        line-height: 19px;
        color: #484A4B;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        .btn {
            background: #FBFBFB;
            /* Field Shadow */
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
            font-weight: 700;
            font-size: 15px;
            line-height: 19px;
            color: #484A4B;
            text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
            width: 72.48px;
            height: 30.75px;
            border: 0;
            border-radius: 10px;
            &:first-child {
                margin-right: -4px;
                border-radius: 10px 0 0 10px;
            }
            &:last-child {
                margin-right: -4px;
                border-radius: 0 10px 10px 0;
            }
            &.btn-toggled {
                background: $light-blue;
                color: #fff;
            }
        }
        @media(min-width:992px) {
            font-weight: 600;
            font-size: 20px;
            .btn {
                font-size: 20px;
                width: 100.48px;
                height: 50.75px;
            }
        }
    }
}