/***** general styles for pages *****/

body {
    font-family: 'Mulish', sans-serif;
    color: $dark-gray;
    font-size: 16px;
    background: #F2F2F2;
    padding-bottom: 100px;
    &.hide-scroll {
        height: 100%;
        overflow: hidden;
    }
}


/**** container style *****/

.container {
    width: 100%;
    // max-width: 1000px;
    padding-left: 16px;
    padding-right: 16px;
}


/**** main-content style ****/

.main-content {
    background: #fff;
    border-radius: 0px 0px 60px 60px;
    padding-bottom: 60px;
    min-height: calc(100vh - 100px);
    &.home-page-content {
        background: url("../images/body-bg.svg") no-repeat center;
        background-size: 100% auto;
    }
}


/***** buttons style *****/

.btn {
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    &-warning {
        background: $dark-orange;
        border-color: $dark-orange;
        color: #fff;
        &:hover {
            color: #fff;
            box-shadow: none;
            background: darken($dark-orange, 10%);
        }
    }
    &-secondary {
        background: $mid-gray;
        border-color: $mid-gray;
        &:hover {
            background: $dark-gray;
            border-color: $dark-gray;
        }
    }
}


/**** texts style *****/

.text {
    &-dark-blue {
        color: $dark-blue;
    }
    &-dark-orange {
        color: $dark-orange
    }
}


/**** backgrounds style ****/

.bg {
    &-dark-blue {
        background: $dark-blue;
    }
    &-green {
        background: #0C9A0C !important;
    }
    &-rose {
        background: #EB2260 !important;
    }
    &-light-gray {
        background: #EBEBEB
    }
    &-mid-gray {
        background: #DBDBDB
    }
    &-dark-gray {
        background: #CBCBCB
    }
}


/***** accordion box style ******/

.accordion {
    .card {
        border: 0;
        border-radius: 10px;
        box-shadow: 0px 48px 80px rgba(0, 0, 0, 0.07);
        .card-header {
            margin-bottom: 0;
            border: 0;
            background: none;
            padding: 0;
            h2 {
                .btn {
                    position: relative;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    background: linear-gradient(90deg, #40C4FF 50.15%, #007EC2 201.39%);
                    border-radius: 10px;
                    padding: 13px 24px;
                    color: #fff;
                    font-size: 24px;
                    font-weight: 600;
                    text-decoration: none !important;
                    outline: none !important;
                    box-shadow: none !important;
                    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, border-radius .15s ease;
                    &::after {
                        flex-shrink: 0;
                        width: 1.25rem;
                        height: 1.25rem;
                        margin-left: auto;
                        color: #fff;
                        content: "";
                        background-image: url("../images/arrow-down.svg");
                        background-repeat: no-repeat;
                        background-position: center center;
                        transition: all .3s ease-in-out;
                    }
                    &:not(.collapsed) {
                        border-radius: 10px 10px 0 0;
                        &::after {
                            background-image: url("../images/arrow-down.svg");
                            transform: rotate(180deg);
                        }
                    }
                }
            }
        }
        .card-body {
            background: linear-gradient(360deg, #FFFFFF -168.75%, #F2F2F2 192.71%);
            border-radius: 0px 0px 10px 10px;
            //text-align: center;
            font-size: 20px;
            font-weight: 600;
            padding: 24px;
            .btn {
                width: 100%;
                max-width: 310px;
                font-weight: 500;
                height: 55px;
                font-size: 20px;
                border-radius: 6px;
            }
        }
    }
}


/**** alerts box style ***/

.alert-danger {
    padding: 15px 7px;
    background: $light-red;
    border: 1px solid $dark-red;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    color: #FB0D0D;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}


/***** page head style *****/

.Sb-page-head {
    background: $blue;
    background-image: linear-gradient(to right bottom, #00529f, #005aa6, #0062ad, #006bb4, #0073ba, #047cc2, #0b86ca, #138fd2, #1f9cdd, #2aa9e9, #35b7f4, #40c4ff);
    color: #fff;
    padding: 12px 0;
    min-height: 250px;
    display: flex;
    align-items: center;
    h1 {
        font-weight: 700;
        //font-size: 20px;
        //line-height: 25px;
        margin-bottom: 0;
    }
    .breadcrumb {
        background: transparent;
        padding: 0;
        .breadcrumb-item {
            font-size: 18px;
            a {
                color: $light-blue;
            }
            &.active {
                color: $light-gray
            }
            &+.breadcrumb-item::before {
                content: "/";
                color: $light-blue
            }
        }
    }
    @media(min-width:992px) {
        &.small {
            min-height: 100px;
            h1 {
                font-weight: 700;
                font-size: 30px;
                line-height: 25px;
                margin-bottom: 0;
            }
            .breadcrumb {
                background: transparent;
                padding: 0;
                margin-bottom: 10px;
                .breadcrumb-item {
                    font-size: 14px;
                }
            }
        }
    }
}


/*** positions style *****/

.relative {
    position: relative;
}


/**** calendar style ****/

.state {
    background: #F2F2F2;
    border: 0.5px solid #cacaca;
    height: 68px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    &:first-child {
        border-left: 1px solid #cacaca;
    }
    &:last-child {
        border-right: 1px solid #cacaca;
    }
    padding: 6px 4px;
    @media(min-width: 992) {
        padding: 6px 8px
    }
    span {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin: 0 auto;
    }
    small {
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        color: #484A4B;
    }
    &.avl_open {
        background: #d7edc0;
        small {
            color: #68c704;
        }
    }
    &.avl_locked {
        small {
            color: $dark-blue;
        }
    }
    &.unv_open {
        background: rgba(246, 87, 21, 0.14);
        small {
            color: #FB3010;
        }
    }
    &.unv_locked {
        small {
            color: #C20626;
        }
    }
    &.shift_open {
        span {
            align-items: center;
            background: $blue;
            color: #fff;
        }
        small {
            color: $blue;
        }
    }
    &.shift_locked {
        span {
            align-items: center;
            background: $dark-gray;
            color: #fff;
        }
        small {
            color: $dark-gray;
        }
    }
    &.current_day {
        &::after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border: 4px solid $light-blue;
        }
    }
    &.passed-day {
        color: #AAAAAA;
        span {
            color: #AAAAAA
        }
        small {
            color: #AAAAAA
        }
    }
}