/*** media query for screens *****/


/*** screen size 1250px ****/

@media(max-width:1250px) {
    .navbar .navbar-nav .nav-item .nav-link {
        font-size: 16px;
        padding: 0 11px;
    }
}


/**** tablets 992px and smaller *****/

@media(max-width:991.98px) {
    .container {
        width: 100%;
        max-width: 100%;
        padding: 0 30px
    }
    .navbar {
        padding: 23px 0 23px 0;
        background-image: url("../images/navbar.svg");
        background-repeat: no-repeat;
        background-position: right 0 top;
        background-size: 320px auto;
        .container-fluid {
            padding: 0 28px;
        }
        .navbar-collapse {
            display: none
        }
    }
    .Sb-page-head {
        min-height: 0;
        background-image: none;
        h1 {
            font-weight: 700;
            font-size: 20px;
            line-height: 25px;
        }
    }
}

@media(max-width:767.98px) {
    .Sb-calendar {
        .calendar-box {
            border-radius: 0;
            background: transparent;
            .bg-dark-blue {
                display: none
            }
            .right-box {
                border-radius: 0;
                background: transparent;
                box-shadow: none;
                padding: 0;
            }
        }
    }
}

@media(max-width:575.98px) {
    .main-content {
        background: #fff;
        border-radius: 0px 0px 30px 30px;
        padding-bottom: 30px;
    }
    .container {
        width: 100%;
        max-width: 100%;
        padding: 0 16px;
    }
    .accordion {
        .card {
            .card-header {
                h2 .btn {
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 23px;
                }
            }
            .card-body {
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                .btn {
                    max-width: 100%;
                    font-weight: 800;
                    height: 43px;
                    font-size: 14px;
                }
            }
        }
    }
    form .input-with-icon .form-control {
        height: 48px
    }
    form .form-label {
        font-size: 12px;
        line-height: 15px;
    }
    .Sb-footer ul li a {
        font-size: 10px;
        i {
            font-size: 24px;
            margin-bottom: 6px;
        }
    }
}

@media(max-width:340px) {
    .Sb-calendar .calendar-box .calendar-table,
    .Sb-calendar .avalible-box {
        zoom: 0.8
    }
}

@media(max-width:320px) {
    .Sb-login .container {
        padding-left: 24px;
        padding-right: 24px;
    }
}